<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<!-- 前台service -->
	
	<!-- 前台商品展示 -->
	<bean name="frontGoodService" class="com.sinokj.app.front.service.FrontGoodService" autowire="byName"></bean>
	<!-- 商品评论 -->
	<bean name="wareCommentService" class="com.sinokj.app.front.service.WareCommentService" scope="prototype" autowire="byName"></bean>
	<bean name="zfbService" class="com.sinokj.app.component.alipay.service.ZfbService" autowire="byName"></bean>
	<bean name="chinaBankService" class="com.sinokj.app.component.chinaBank.service.ChinaBankService" autowire="byName"></bean>
	<bean name="browseBuyService" class="com.sinokj.app.front.browse.service.BrowseBuyService" autowire="byName"></bean>
	<bean name="browseService" class="com.sinokj.app.front.browse.service.BrowseService" autowire="byName"></bean>
	<bean name="browseOthersService" class="com.sinokj.app.front.browse.service.BrowseOthersService" autowire="byName"></bean>
	<bean name="customerAddressService" class="com.sinokj.app.customer.service.CustomerAddressService" scope="prototype" autowire="byName"></bean>
	<bean name="goodPriceService" class="com.sinokj.app.good.goodPrice.service.GoodPriceService" autowire="byName"></bean>
	<bean name="phoneService" class="com.sinokj.app.good.phone.PhoneService" autowire="byName"></bean>
	<bean name="phonepackageService" class="com.sinokj.app.good.phone_package.PhonepackageService" autowire="byName"></bean>
</beans>
