@charset "utf-8";

body{behavior:url("js/csshover.htc");}
.box{ width:100%; margin:0 auto;}


/*============================忘记密码2===================================*/

.content{ width:1200px; margin:0 auto; overflow:hidden;}
.forgotpassword{ width:1045px; margin:0 auto;}
.forgotpassword01{ width:1045px; float:left; margin-top:50px; background:url(pass12.jpg) no-repeat left top; height:42px; line-height:42px;}
.forgotpassword01 h1{ padding-left:112px; width:321px; float:left; color:#666; font-size:16px; font-family:"微软雅黑";}
.forgotpassword01 h2{  width:359px; float:left; color:#666; font-size:16px; font-family:"微软雅黑";}
.forgotpassword01 h3{  width:228px; float:left; color:#fff; font-size:16px; font-family:"微软雅黑";}
.forgotpassword02{ width:1043px; float:left; margin-top:15px;  height:250px; border:#ececec solid 1px;}
.forgotpassword02_text{ width:684px; float:left; margin-top:45px; padding-left:359px;}
.forgotpassword02_text01{ width:600px; float:left; height:74px;}
.forgotpassword02_text01 h1{ width:48px; float:left;}
.forgotpassword02_text01 h2{ float:left; line-height:35px;  color:#666; font-size:24px; font-family:"微软雅黑";}
.forgotpassword02_text02{ width:500px; float:left; padding-left:13px;  color:#666; font-size:18px; font-family:"微软雅黑";}
.forgotpassword02_text02 span{color:#0380e1; font-size:18px; font-family:"微软雅黑"; }
.forgotpassword02_text02 span a{color:#0380e1; font-size:18px; font-family:"微软雅黑"; text-decoration:underline;}
.forgotpassword02_text02 span a:hover{color:#0380e1; font-size:18px; font-family:"微软雅黑"; text-decoration:underline;}