@charset "utf-8";

body{behavior:url("js/csshover.htc");}
.box{ width:100%; margin:0 auto;}


/*============================忘记密码2===================================*/

.content{ width:1200px; margin:0 auto; overflow:hidden;}
.forgotpassword{ width:1045px; margin:0 auto;}
.forgotpassword01{ width:1045px; float:left; margin-top:50px; background:url(../images/pass4.jpg) no-repeat left top; height:42px; line-height:42px;}
.forgotpassword01 h1{ padding-left:112px; width:321px; float:left; color:#666; font-size:16px; font-family:"微软雅黑";}
.forgotpassword01 h2{  width:359px; float:left; color:#fff; font-size:16px; font-family:"微软雅黑";}
.forgotpassword01 h3{  width:228px; float:left; color:#666; font-size:16px; font-family:"微软雅黑";}
.modify1{ width:1043px; float:left; margin-top:15px;  height:330px; border:#ececec solid 1px;}
.kg{ width:800px; height:15px; float:left;}
.modify101{ width:665px;  float:left; margin-top:15px; padding-left:277px;}
.modify101 h1{ width:130px;  float:left; line-height:26px; text-align:right;}
.modify101 h1 span{ color:#e41215; font-size:12px; padding-right:3px;}
.modify101 h2{ float:left; line-height:26px; font-weight:bold; padding-right:5px; padding-left:10px;}
.modify101 h3{ float:left; line-height:26px; padding-left:10px;}
.modify101 h4{ float:left; padding-top:2px; padding-left:10px;}
.modify103{ width:530px;  float:left; margin-top:22px; padding-left:420px;}
.modify103 h1{ width:23px; float:left;}
.modify103 h2{float:left; width:500px; }
.modify103 h2 span{ color:#ff9600; font-size:12px; font-weight:bold; font-family:Arial, Helvetica, sans-serif;}
.modify104{ width:530px;  float:left; margin-top:22px; padding-left:418px;}
.pickbtn1{ width:80px; height:22px; cursor:pointer;  border:none; background:#2791e3; text-align:center; font-size:12px; line-height:24px;  color:#fff;}
.pickinput{ width:69px; padding-left:5px; height:25px; line-height:24px; font-size:12px; color:#666; border:#dadada solid 1px;}
.pickinput1{ width:119px; padding-left:5px; height:25px; line-height:24px; font-size:12px; color:#666; border:#dadada solid 1px;}
.forgotpasswordbutton1{  width:142px; height:24px; cursor:pointer; border:none; background:url(../images/sec9.jpg) no-repeat left top;}
.forgotpasswordbutton2{  width:92px; height:24px; cursor:pointer; border:none; background:url(../images/sec8.jpg) no-repeat left top;}
.forgotpasswordbutton{  width:90px; height:29px; cursor:pointer; border:none; background:url(../images/pass2.jpg) no-repeat left top;}
.forgotpassword02_text03{ width:661px; padding-left:4px; float:left; height:27px; border-bottom:#dadada solid 1px; font-weight:bold; color:#333333; font-size:14px; margin-left:287px; display:inline; margin-top:50px;}
.forgotpassword02_text04{ width:661px;  float:left; padding-left:297px; padding-top:5px;}
.forgotpassword02_text04 li{ width:643px; padding-left:18px; line-height:24px;  background:url(../images/pass6.jpg) no-repeat left center;}
.forgotpassword02_text04 li span{ color:#fe9f43; font-size:12px; font-weight:bold;}
