@charset "utf-8";

body{behavior:url("js/csshover.htc");}
.box{ width:100%; margin:0 auto;}


/*============================忘记密码2===================================*/

.content{ width:1200px; margin:0 auto; overflow:hidden;}
.forgotpassword{ width:1045px; margin:0 auto;}
.forgotpassword01{ width:1045px; float:left; margin-top:50px; background:url(pass4.jpg) no-repeat left top; height:42px; line-height:42px;}
.forgotpassword01 h1{ padding-left:112px; width:321px; float:left; color:#666; font-size:16px; font-family:"微软雅黑";}
.forgotpassword01 h2{  width:359px; float:left; color:#fff; font-size:16px; font-family:"微软雅黑";}
.forgotpassword01 h3{  width:228px; float:left; color:#666; font-size:16px; font-family:"微软雅黑";}
.forgotpassword02{ width:1043px; float:left; margin-top:15px;  height:273px; border:#ececec solid 1px;}
.forgotpassword02_text{ width:800px; float:left; margin-top:25px; padding-left:187px;}
.forgotpassword02_text01{ width:800px; float:left; height:41px;}
.forgotpassword02_text01 span{ color:#44a0e7; font-weight:bold;}
.forgotpassword02_text02{ width:700px; padding-left:4px; float:left; height:93px;}
.forgotpasswordbutton{  width:131px; height:29px; cursor:pointer; border:none; background:url(pass5.jpg) no-repeat left top;}
.forgotpassword02_text03{ width:661px; padding-left:4px; float:left; height:27px; border-bottom:#dadada solid 1px; font-weight:bold; color:#333333; font-size:14px;}
.forgotpassword02_text04{ width:661px; padding-left:4px; float:left; padding-top:6px;}
.forgotpassword02_text04 li{ width:643px; padding-left:18px; line-height:24px;  background:url(pass6.jpg) no-repeat left center;}
.forgotpassword02_text04 li span{ color:#44a0e7; font-size:12px;}
.forgotpassword02_text04 li span a{ color:#44a0e7; font-size:12px; text-decoration:underline;}
.forgotpassword02_text04 li span a:hover{ color:#44a0e7; font-size:12px; text-decoration:underline;}