@charset "utf-8";
/* CSS Document */
body{ margin:0 auto;}
.ctop{ width:100%;margin:0 auto; background:url(../../../Images/images/topbg.jpg) repeat-x left top; height:140px; z-index:200;}
.top_con{ width:1200px; margin:0 auto; overflow:hidden;}
.top_ctext{ padding-left:14px; line-height:31px; float:left; color:#666666; font-size:12px; font-family:"宋体";  }
.top_ctext1{ width:600px; padding-left:11px;  float:left; padding-top:4px; }
.top_ctext1_text{ float:left;}
.subbmit{ width:47px; height:22px; border:none; line-height:22px; color:#fff; font-size:12px; font-family:"宋体"; background:url(../../../Images/images/btn.jpg) no-repeat left top; cursor:pointer; text-align:center;}
.top_ctext2{ width:380px; float:right;  line-height:31px; height:31px; color:#666666; font-size:12px; font-family:"宋体";}
.top_ctext2 .ys1{  float:left; line-height:31px; height:31px; color:#666666; font-size:12px; font-family:"宋体";}
.top_ctext2 .ys2{  float:left; padding-top:8px; height:22px; padding-left:8px; width:24px;}
.top_ctext2 .ys3{  float:left; line-height:31px; height:31px; color:#666666; font-size:12px; font-family:"宋体";}
.top_logo{ width:1200px; margin:0 auto; height:100px;}

/*============================logo鍜屾悳绱㈡===================================*/

.topf{ width:1200px; float:left; height:100px; z-index:200}
.logo{ width:670px; float:left;   padding-top:5px;}
.logo01{ width:230px;  float:left; padding-left:30px; padding-top:2px;padding-bottom:1px;}
.logo03{ width:84px; float:left; position:relative; padding-left:10px; z-index:1000;}
#tys{width:84px; height:18px; line-height:18px; font-size:14px;  color:#2c91e1; font-family:'宋体'; text-align:center;  margin-top:18px; float:left; height:18px;}
#tys1{  display:block; font-weight:normal;  width:84px; line-height:20px; font-size:14px; color:#bbbdbf; font-family:"宋体"; text-align:center; cursor:pointer;}
.logo02{ width:150px; padding-left:14px; float:left;  line-height:55px; padding-top:12px; }
.ht{ color:#2791e3; font-size:32px;  font-family:"微软雅黑"; float:left;}
.ht1{ padding-left:0px; padding-top:0px;}
.htbtn{ width:70px; height:14px; text-align:left; color:#ababab; font-size:12px; border:none; background:#fff; cursor:pointer;} 
.seacher{ width:530px; float:left; padding-top:31px;}
.seacher01{ width:530px; float:left;  }
.seacher01 .sys{  float:left; line-height:40px; color:#7d7d7d; font-size:12px;  display:block; font-family:"宋体"; width:530px;}
.seacher01 .sys a{ color:#7d7d7d; font-size:12px; text-decoration:none; font-family:"宋体"; padding-left:3px; padding-right:3px;}
.seacher01 .sys a:hover{padding-left:3px; padding-right:3px; color:#2f95e4; font-size:12px; text-decoration:none; font-family:"宋体";}
.input01{width:433px; height:40px; background:url(../../../Images/images/input.jpg) no-repeat left top; float:left;  }
.input{ width:413px; height:20px; line-height:20px; margin-top:10px; margin-bottom:10px; color:#666666; padding-left:20px; border:none; font-size:14px; font-family:"宋体"; background:none;}
.btn01{ width:97px; height:40px; float:left;}
.btn02{ width:97px; height:40px; background:url(../../../Images/images/btn1.jpg) no-repeat left top; line-height:40px; border:none;  cursor:pointer;}
#fy{   width:492px;  height:260px; overflow-y:scroll; overflow-x:hidden; margin-top:5px; padding-bottom:5px; float:left;}
#fy1{  color:#5199cd; text-decoration:none; font-size:14px; font-family:"宋体"; font-weight:normal;  width:476px; padding-top:15px; padding-left:16px; float:left; }
#fy1 span{   width:72px; height:27px; background:url(../pro_dropdown_2/a8.jpg) no-repeat left top; line-height:27px; float:left; text-align:center;   font-size:14px; font-family:"宋体"; color:#6a6a6a; display:block; margin-right:5px; display:inline;}
#fy1 a{ width:48px; float:left; height:27px; line-height:27px; text-align:center; display:block; color:#2c91e1; text-decoration:none; font-size:14px; font-family:"宋体"; font-weight:normal;}
#fy1 a:hover{ color:#2c91e1; text-decoration:underline; font-size:14px; font-family:"宋体"; font-weight:normal;}
#fy2{ float:left; height:10px; width:400px;}

/*============================瀵艰埅===================================*/

.navMenu{ width:1200px; height:39px; margin:0 auto; background:url(../../../Images/images/navbg.png) repeat-x scroll right -48px rgba(0, 0, 0, 0); overflow: hidden;}
.subMenu{ width:1200px; margin:0 auto; height:39px;}
.subMenu1{ width:1200px; float:left; height:39px;}
.subMenu1_title{ width:262px; float:left;   background:url(../../../Images/images/navbg.png) no-repeat left top; position:relative; z-index:3;}
.t1{ float:left; color:#fff; font-family:"微软雅黑"; font-size:18px; line-height:39px;  text-align:center; padding-left:53px; letter-spacing: normal;}
.t1 a{ float:left; color:#fff; font-family:"微软雅黑"; font-size:18px; line-height:39px;  display:block; text-decoration:none;}
.t1 a:hover{ float:left; color:#fff; font-family:"微软雅黑"; font-size:18px; line-height:39px;  display:block; text-decoration:none; letter-spacing: normal;}
.t2{ float:left; padding-left:11px; padding-top:12px;}
.tnav_btn{ width:17px; height:17px; background:url(../../../Images/images/a6.jpg) no-repeat left top; border:none; cursor:pointer;}
#nav1{ width:938px;  float:left;} 
#nav1 li { width:99px; float:left; height:39px; line-height:39px; text-align:center;} 
#nav1 li a { font-size:16px; font-family:"微软雅黑"; color:#fff; text-decoration:none; font-weight:normal; display:block; width:99px; height:39px; cursor:pointer;} 
#nav1 li .link_on { background:url(../../../Images/images/a4.jpg) no-repeat left top; font-size:16px; font-family:"微软雅黑"; color:#fff;} 
.tanlay{position:absolute; top:55px; left:15px;z-index:9999; display:none;}
.tanlay01{width:494px;  height:270px;  background:url(../../../Images/images/bg3.gif) no-repeat left top;}

.login0202_text1inputs{ width:195px; padding-left:5px; height:24px; border:#dadada solid 1px; line-height:24px; background:#fff;}
.login0202_text1inputs2{ width:195px; padding-left:5px; height:24px; border:#FEA710 solid 1px; line-height:24px; background:#fff;}








/*============================鍒嗙被瀵艰埅===================================*/

#t_text {width:210px; float:left; padding-left:15px; padding-top:6px; text-align:left; height:40px;
}
#t_text01 {width:210px;float:left;height:25px;font-size:16px;
	line-height:22px;
	color:#0a7cd4;
	font-family:"微软雅黑";
	text-align:left;
	padding-bottom:3px;
}
#t_text01 a{
	color:#0a7cd4;
	font-family:"微软雅黑";
    font-size:16px;
	text-decoration:none;
}

#t_text01 a:hover{
	color:#0a7cd4;
	font-family:"微软雅黑";
    font-size:16px;
	text-decoration:underline;
}
#t_text01 span{
	width:25px;
	float:left;
}
#t_text02 {
	width:210px;
	float:left;
	font-size:12px;
	color:#999999;
	font-family:"宋体";
	text-align:left;
	line-height:14px;	
}
#t_text02 #ta{
    color:#999999;
	font-size:12px;
	font-family:"宋体";
	text-decoration:none;
	padding-right:10px;
}
#t_text02 #ta:hover {
	font-size:12px;
	color:#0a7cd4;
	font-family:"宋体";
	text-decoration:underline;
	padding-right:10px;
}
#warp1000 #allsort {
	position:relative;
	float:left;
	width:262px;
	z-index:4;
}


#warp1000 #allsortlist {
	position:absolute;
	left:0;
	top:0px;
	width:260px;
	background:#fff;
	border:#e0e0e0 solid 1px;
	border-bottom:none;
}
#warp1000 #allsortlist .navlist {
	height:53px;
	line-height:20px;
}
#warp1000 #allsortlist .navlist h3 {
	height:52px;
	font-size:12px;
	font-weight:normal;
	width:260px;
	background:url(../../../Images/images/c1.jpg) no-repeat right center;
	border-bottom:#e6e6e6 solid 1px;

}
#warp1000 #allsortlist .navlist h3 a {
	float:left;
	
}
#warp1000 #allsortlist .navlist h3 b {

}
#warp1000 #allsortlist .navlist h3.hover {
	position:relative;
	z-index:2;
	left:-1px;
	height:51px;
	top:-1px;
	font-size:12px;
	font-weight:normal;
	border:#2791e3 solid 1px;
	border-right:0px;
	width:260px;
	background:#fbfafa;
	
}
#warp1000 #allsortlist .icon01 h3 {
height:51px;
}
.iframeyaer1{ position:relative;} 
.iframeyaer{ position:absolute; top:0; left:0; width:660px;    height:475px; z-index:-10000;} 



#warp1000 #allsortlist .icon01 h3.hover {

font-size:12px;
	color:#0a7cd4;
	font-family:"宋体";
	
}
#warp1000 #allsortlist .icon02 h3 {
height:52px;	
}
#warp1000 #allsortlist .icon02 h3.hover {
	
}
#warp1000 #allsortlist .icon03 h3 {
	height:52px;
}
#warp1000 #allsortlist .icon03 h3.hover {

}
#warp1000 #allsortlist .icon04 h3 {
	height:52px;
}
#warp1000 #allsortlist .icon04 h3.hover {
	background-position:-410px -551px;
}
#warp1000 #allsortlist .icon05 h3 {
	
}
#warp1000 #allsortlist .icon05 h3.hover {
	
}
#warp1000 #allsortlist .icon06 h3 {

}
#warp1000 #allsortlist .icon06 h3.hover {

}
#warp1000 #allsortlist .icon07 h3 {
	
}
#warp1000 #allsortlist .icon07 h3.hover {

}
#warp1000 #allsortlist .icon08 h3 {
	
}
#warp1000 #allsortlist .icon08 h3.hover {
	
}
#warp1000 #allsortlist .icon09 h3 {
	
}
#warp1000 #allsortlist .icon09 h3.hover {
	
}
#warp1000 #allsortlist .navlist h3 b img {

}
#warp1000 #allsortlist .navlist h3 a {
	
}
#warp1000 #allsortlist .navlist h3 a:hover {
	
}
#warp1000 #allsortlist .navlist .navmore {
	display:none;
	position:absolute;
	left:259px;
	top:-1px;
	width:400px;
	border:1px solid #2791e3;
	background:#fafafa;
	z-index:0;
	overflow:hidden;
	background:url(../../../Images/images/t1.jpg) repeat-y left top;
	height:369px;
}
.tv{ width:300px; padding-left:20px; float:left; padding-top:6px; padding-bottom:20px;}
.tv01{ width:460px; padding-top:8px; padding-bottom:8px; float:left; line-height:22px; background:url(../../../Images/images/a8.jpg) repeat-x left bottom;}
.tv01 span{ width:97px;  float:left; line-height:22px; color:#333333; font-size:14px; font-family:"宋体"; font-weight:bold;}
.tv01 a{ color:#333333; font-size:12px; font-family:"宋体"; font-weight:normal; float:left; padding-right:24px; text-decoration:none;}
.tv01 a:hover{ color:#2791e3; font-size:12px; font-family:"宋体"; font-weight:normal; float:left; padding-right:24px; text-decoration:underline;}
.tv1{ width:150px; padding-left:30px; float:left; padding-top:10px; padding-bottom:10px;}
.tv101{ width:150px; float:left;}
.tv101 span{ width:150px; color:#333333; font-size:14px; font-family:"宋体"; font-weight:bold; float:left; display:block; line-height:24px;}
.tv101  li{ width:75px; float:left; line-height:24px; color:#333333; font-size:12px; font-family:"宋体"; font-weight:normal;}
.tv101  li a{ color:#333333; font-size:12px; font-family:"宋体"; font-weight:normal; text-decoration:none;}
.tv101  li a:hover{ color:#2791e3; font-size:12px; font-family:"宋体"; font-weight:normal; text-decoration:underline;}
.tv102{ width:150px;  float:left; padding-top:10px;}
.tv102 span{ width:150px;  float:left; color:#333333; font-size:14px; font-family:"宋体"; font-weight:bold; display:block; line-height:24px;}
.tv102 ul{ margin:0px; padding:0px; float:left;}
.tv102 li{ width:150px; line-height:22px; color:#333333; font-size:12px; font-family:"宋体"; font-weight:normal; float:left; }
.tv102 li a{ color:#333333; font-size:12px; font-family:"宋体"; font-weight:normal; text-decoration:none;}
.tv102 li a:hover{  color:#2791e3; font-size:12px; font-family:"宋体"; font-weight:normal; text-decoration:underline;}



/*============================宸︿晶鍒嗙被瀵艰埅寮瑰嚭灞�===================================*/


.topnav  { width:262px; float:left; }
.subnav { float:left;}
.MNav{ width:262px; float:left; cursor:pointer;}

