@charset "utf-8";




/*============================个人基本信息===================================*/



.box{ width:100%; margin:0 auto;}
.content{ width:1200px; margin:0 auto;}
.coupon{ width:1200px; float:left; padding-top:28px;}
.coupon_right{ width:1004px; float:left;}
.courht{width:964px; float:left; padding-left:40px;}
.courht_title{ width:964px; float:left; height:32px; border-bottom:#298fd7 solid 2px;}
.courht_title span{ float:left; text-align:center; font-size:18px; font-family:"微软雅黑";  color:#0a7cd4; line-height:24px; height:32px;background:url(../../../Images/images/a14.jpg) no-repeat center bottom; }
.person_content{ width:475px; float:left; padding-top:8px; padding-left:39px;}
.person{ width:475px; float:left; }
.person01{ width:462px; float:left; padding-top:20px; padding-left:13px; color:#666; font-size:14px; font-weight:bold;}
.person02{ width:462px; float:left; padding-top:20px; padding-left:13px; }
.person02 h1{ float:left; padding-right:5px;}
.person02 h2{ float:left; color:#2791e3; font-size:12px; font-weight:bold;}
.person02 h3{ float:left; padding-right:5px; line-height:26px;}
.person03{ width:462px; float:left; padding-top:20px;  }
.person03 h1{ width:13px; float:left;  color:#FF0000;  padding-top:0px;*padding-top:4px;_padding-top:4px;}
.person03 h2{ float:left; padding-right:5px; padding-top:0px;*padding-top:4px;_padding-top:4px;}
.person03 h3{ float:left; padding-right:8px; }
.person03 h4{ float:left; padding-right:10px;  padding-top:0px;*padding-top:4px;_padding-top:4px;}
.person04{ width:462px; float:left; padding-top:20px;  line-height:24px;}
.person04 h1{ width:13px; float:left;  color:#FF0000;  }
.person04 h2{ float:left; padding-right:5px;}
.person04 h3{ float:left; font-weight:bold; width:193px; }
.person04 h4{ float:left;}
.person04btn{ width:54px; height:24px; background:#2791e3; font-size:12px; color:#fff; line-height:24px; cursor:pointer; border:none; font-family:"宋体";}
.person04input{ width:168px; height:23px;  font-size:12px; line-height:23px; border:#e2e2e2 solid 1px; padding-left:5px; color:#666;}
.person04input1{ width:168px; height:23px;  font-size:12px; line-height:25px; border:#e2e2e2 solid 1px; padding-left:5px;  font-size:12px; color:#d4d4d4;}
.person04 h5{ float:left; padding-left:23px; color:#2791e3; font-size:12px;}
.person04 h5 a{color:#2791e3; font-size:12px; text-decoration:none;}
.person04 h5 a:hover{color:#2791e3; font-size:12px; text-decoration:underline;}
.person04 h6{ float:left; width:193px; }
.person05{ width:462px; float:left; padding-top:20px; padding-left:13px;}
.person05 h2{ float:left; padding-right:5px; line-height:20px;}
.person05 h3{ float:left; padding-right:15px;}
.person05select{ width:90px; height:20px;  border:#d9d9d9 solid 1px; color:#666; font-size:12px;}
.person06{ width:462px; float:left; padding-top:10px; padding-left:67px;}
.person06input{ width:268px; height:23px;  font-size:12px; line-height:23px; border:#e2e2e2 solid 1px; padding-left:5px; color:#666;}
.person07{ width:462px; float:left; padding-top:50px; padding-left:13px;}
.person0701{ width:462px; float:left; height:20px;}
.person0701 h1{ float:left; padding-right:13px; font-weight:bold;}
.person0701 h2{ float:left;}
.person0702{ width:462px; float:left; padding-top:13px;}
.person0702 h1{ float:left; padding-right:13px; line-height:22px;}
.person0702 h2{ float:left;}
.person0703{  float:left; padding-top:20px; padding-left:72px;}
.person0703btn{ width:90px; height:29px; background:url(../../../Images/images/save.jpg) no-repeat left top; cursor:pointer; border:none;}
.person2{ width:300px; float:left; padding-top:28px;}
.person2 h1{ float:left; width:300px;}
.person2 h1 img{ border:#dfdfdf solid 1px; width:110px; height:130px;}
.person2 h2{ float:left; width:112px; line-height:32px; text-align:center; color:#2791e3; font-size:12px;}
.person2 h2 a{color:#2791e3; font-size:12px; text-decoration:none;}
.person2 h2 a:hover{color:#2791e3; font-size:12px; text-decoration:underline;}











/*============================个人基本信息弹出层===================================*/
.xgtx_td {width: 100%; height: 768px; position: fixed; z-index: 1000; top:0; background-color:#000; filter: Alpha(Opacity=50);	opacity: .5;}
.personlayer_dk {width: 100%; height: 768px; position: absolute; z-index: 1000; top:0}
.personlayer{ background-color: #FFFFFF; border: 2px solid #FF6600; width: 762px; height: 500px; margin: 50px auto;}
.personlayer01{ width:762px; height:45px; float:left; border-bottom:#2791e3 solid 2px; position:relative;}
.personlayer01 h1{ float:left; margin-left:15px; display:inline; color:#2791e3; font-size:18px; font-family:"微软雅黑"; padding-top:12px; height:33px;background:url(../../../Images/images/a14.jpg) no-repeat center bottom;}
.personlayer01 h2{ position:absolute; right:17px; top:20px;}
.personlayer01 h2 span{ color:#2791e3; font-size:12px; padding-right:5px; float:left; padding-top:2px;}
.personlayer01 h2 span a{ color:#2791e3; font-size:12px; text-decoration:none;}
.personlayer01 h2 span a:hover{ color:#2791e3; font-size:12px; text-decoration:underline;}
.personlayer01 h2 samp{ float:left;}
.Popuplogin01btn{ width:14px; height:14px; background:url(../../../Images/images/pop2.jpg) no-repeat left top; border:none; cursor:pointer;}
.personlayer02{ width:626px; float:left; padding-top:24px; padding-left:60px;}
.personlayer0201{ width:626px; float:left; height:46px;}
.personlayer0201 a{ width:80px; height:26px; background:#fe9f43; text-align:center; color:#fff; font-size:12px; line-height:26px; font-family:"宋体"; text-decoration:none; display:block;}
.personlayer0201 a:hover{ width:80px; height:26px; background:#fe9f43; color:#fff; text-align:center; font-size:12px; line-height:26px; font-family:"宋体"; text-decoration:none; display:block;}
.personlayer0202{ width:626px; float:left;}
.personlayer0202_left{ width:304px; float:left; background:url(../../../Images/images/lay2.jpg) repeat-y top right; height:322px;}
.personlayer0202_left h1{ width:300px; float:left; padding-top:4px; height:20px;}
.personlayer0202_left h2{ width:300px; float:left;}
.personlayer0202_left h2 img{ width:245px; height:292px; border:#cccccc solid 1px;}
.personlayer0202_right{ width:322px; float:left;}
.personlayer0202_right h1{ width:270px; float:left; padding-left:52px; padding-top:4px; height:35px;}
.personlayer0202_right h2{ width:270px; float:left; padding-left:52px;}
.personlayer0202_right h2 img{ width:110px; height:130px; border:#d6d6d6 solid 1px;}
.personlayer0203{ width:626px; float:left; padding-top:11px;}
.personlayer0203 span{ padding-right:8px; float:left;}
.personlayer020301{width:43px; height:26px; background:#2791e3; color:#fff; font-size:12px; line-height:26px; font-family:"宋体"; text-decoration:none; display:block; text-align:center;}
.personlayer020301:hover{width:43px; height:26px; background:#2791e3; color:#fff; font-size:12px; line-height:26px; font-family:"宋体"; text-decoration:none; display:block; text-align:center;}
.personlayer020302{width:43px; height:26px; background:#e2e2e2; color:#999; font-size:12px; line-height:26px; font-family:"宋体"; text-decoration:none; display:block; text-align:center;}
.personlayer020302:hover{width:43px; height:26px; background:#e2e2e2; color:#999; font-size:12px; line-height:26px; font-family:"宋体"; text-decoration:none; display:block; text-align:center;}