@charset "utf-8";




/*============================安全设置===================================*/



.box{ width:100%; margin:0 auto;}
.content{ width:1200px; margin:0 auto;}
.coupon{ width:1200px; float:left; padding-top:28px;}
.coupon_right{ width:1004px; float:left;}
.courht{width:964px; float:left; padding-left:40px;}
.courht_title{ width:964px; float:left; height:32px; border-bottom:#298fd7 solid 2px;}
.courht_title span{ float:left; text-align:center; font-size:18px; font-family:"微软雅黑";  color:#0a7cd4; line-height:24px; height:32px; background:url(../../../Images/images/pu2.jpg) no-repeat left bottom; }
.modify{ width:964px; height:42px; float:left; margin-top:21px; background:url(../../../Images/images/pass16.jpg) no-repeat left top; line-height:42px;}
.modify h1{ width:336px;  float:left; padding-left:99px; color:#666; font-size:16px; font-family:"微软雅黑";}
.modify h2{ width:322px;  float:left;   color:#fff; font-size:16px; font-family:"微软雅黑";}
.modify h3{   float:left;  color:#666; font-size:16px; font-family:"微软雅黑";}
.modify1{ width:962px; height:273px; float:left; margin-top:21px; border:#ececec solid 1px;}
.forgotpassword02_text{ width:800px; float:left; margin-top:25px; padding-left:140px;}
.forgotpassword02_text01{ width:800px; float:left; height:41px;}
.forgotpassword02_text01 span{ color:#44a0e7; font-weight:bold;}
.forgotpassword02_text02{ width:700px; padding-left:4px; float:left; height:93px;}
.forgotpasswordbutton{  width:131px; height:29px; cursor:pointer; border:none; background:url(../../../Images/images/pass5.jpg) no-repeat left top;}
.forgotpassword02_text03{ width:661px; padding-left:4px; float:left; height:27px; border-bottom:#dadada solid 1px; font-weight:bold; color:#333333; font-size:14px;}
.forgotpassword02_text04{ width:661px; padding-left:4px; float:left; padding-top:6px;}
.forgotpassword02_text04 li{ width:643px; padding-left:18px; line-height:24px;  background:url(../../../Images/images/pass6.jpg) no-repeat left center;}
.forgotpassword02_text04 li span{ color:#44a0e7; font-size:12px;}
.forgotpassword02_text04 li span a{ color:#44a0e7; font-size:12px; text-decoration:underline;}
.forgotpassword02_text04 li span a:hover{ color:#44a0e7; font-size:12px; text-decoration:underline;}

