@charset "utf-8";




/*============================我的评价===================================*/



.box{ width:100%; margin:0 auto;}
.content{ width:1200px; margin:0 auto;}
.coupon{ width:1200px; float:left; padding-top:28px;}
.content{ width:1200px; margin:0 auto;}
.applyReturn{ width:1200px; float:left; padding-top:20px;}
.applyReturn_left{ width:196px; float:left;}
.applyReturn_right{ width:1004px; float:left;}
.applyright{width:964px; float:left; padding-left:40px;}

/*******************我的评价******************************/

.courht{width:964px; float:left; padding-left:40px;}
.courht_title{ width:964px; float:left; height:32px; border-bottom:#298fd7 solid 2px;}
.courht_title span{ float:left; text-align:center; font-size:18px; color:#1a8bdb; font-family:"微软雅黑"; line-height:28px; height:32px; background:url(../../../Images/images/pu2.jpg) no-repeat left bottom;}

/*******************我的评价******************************/

.courht_text2{ width:964px; float:left; margin-top:15px;}
.table{ width:962px; height:32px; background:url(../../../Images/images/pu3.jpg) repeat-x left top; border:#e4e4e4 solid 1px; float:left;}
.table1{ width:962px; border-left:#efefef solid 1px;border-right:#efefef solid 1px; float:left;}
.table1 table td{border-bottom:#efefef solid 1px;}
.phlist{ padding-left:20px; float:left; padding-bottom:18px; padding-top:18px; width:330px;}
.phlist h2{ float:left; padding-right:14px;}
.phlist h2 img{ width:57px; height:57px;border:#e0e0e0 solid 1px;}
.phlist h3{ float:left; width:220px; padding-top:12px; line-height:18px; color:#666px;}
.phlist h3 span{color:#666px; font-weight:bold}
.phlist h1{ float:left; padding-right:10px; padding-top:20px; width:13px;}
.cotrol{ width:70px; line-height:14px; display:block;  font-family:Arial, Helvetica, sans-serif;  margin:0 auto; }
.cotrolys{ color:#0a7cd4; font-size:12px;}
.cotrolys a{ color:#0a7cd4; font-size:12px; text-decoration:none;}
.cotrolys a:hover{ color:#0a7cd4; font-size:12px; text-decoration:underline;}
.cotrol1{ width:65px; line-height:14px; display:block;  font-family:Arial, Helvetica, sans-serif; text-align:left;}

/*******************选项卡******************************/
#Tab2{
width:964px;
float:left; 
padding-top:15px;
}
/*菜单class*/
.Menubox {
padding-left:5px;
height:26px;

}
.Menubox ul{
margin:0px;
padding:0px;
}
.Menubox li{
float:left;
display:block;
cursor:pointer;
width:113px;
text-align:center;
color:#5b5b5b;
border:#e3e3e3 solid 1px;
height:24px;
line-height:24px;
margin-right:17px; display:inline;
}
.Menubox li.hover{
padding:0px;
background:#2792e2;
width:115px;
color:#fff;
height:26px;
line-height:26px;
text-align:center;
margin-right:17px; display:inline;
}
.Contentbox{
clear:both;

}
.leftborder{ border-right:#efefef solid 1px;}
.score{ width:220px; margin:0 auto;}
.score01{  float:left; width:200px;}
.score01 h1{ float:left; padding-right:3px; }
.score01 h2{ float:left; line-height:18px;}
.score02{  float:left; padding-top:4px;}