@charset "utf-8";




/*============================安全设置===================================*/



.box{ width:100%; margin:0 auto;}
.content{ width:1200px; margin:0 auto;}
.coupon{ width:1200px; float:left; padding-top:28px;}
.coupon_right{ width:1004px; float:left;}
.courht{width:964px; float:left; padding-left:40px;}
.courht_title{ width:964px; float:left; height:32px; border-bottom:#298fd7 solid 2px;}
.courht_title span{ float:left; text-align:center; font-size:18px; font-family:"微软雅黑";  color:#0a7cd4; line-height:24px; height:32px; background:url(../../../Images/images/pu2.jpg) no-repeat left bottom; }
.modify{ width:964px; height:42px; float:left; margin-top:21px; background:url(../../../Images/images/pass15.jpg) no-repeat left top; line-height:42px;}
.modify h1{ width:315px;  float:left; padding-left:96px; color:#666; font-size:16px; font-family:"微软雅黑";}
.modify h2{ width:230px;  float:left;   color:#fff; font-size:16px; font-family:"微软雅黑";}
.modify1{ width:962px; height:270px; float:left; margin-top:21px; border:#ececec solid 1px;}
.forgotpassword02_text{ width:400px; float:left; margin-top:65px; padding-left:327px;}
.forgotpassword02_text01{ width:400px; float:left; height:74px;}
.forgotpassword02_text01 h1{ width:48px; float:left;}
.forgotpassword02_text01 h2{ float:left; line-height:35px;  color:#666; font-size:24px; font-family:"微软雅黑";}
.forgotpassword02_text02{ width:400px; float:left; padding-left:13px;  color:#666; font-size:18px; font-family:"微软雅黑";}
.forgotpassword02_text02 span{color:#0380e1; font-size:18px; font-family:"微软雅黑"; }
.forgotpassword02_text02 span a{color:#0380e1; font-size:18px; font-family:"微软雅黑"; text-decoration:underline;}
.forgotpassword02_text02 span a:hover{color:#0380e1; font-size:18px; font-family:"微软雅黑"; text-decoration:underline;}

