@charset "utf-8";




/*============================待付款订单===================================*/



.box{ width:100%; margin:0 auto;}
.content{ width:1200px; margin:0 auto;}
.coupon{ width:1200px; float:left; padding-top:28px;}
.coupon_right{ width:1004px; float:left;}
.courht{width:964px; float:left; padding-left:40px;}
.courht_title{ width:964px; float:left; height:32px; border-bottom:#298fd7 solid 2px;}
.courht_title span{ float:left; text-align:center; font-size:18px; font-family:"微软雅黑";  color:#0a7cd4; line-height:24px; height:32px; background:url(../../../Images/images/a14.jpg) no-repeat center bottom; }
.courht_text{ width:900px; float:left; padding-left:18px; font-family:"微软雅黑"; font-size:18px; color:#666; padding-top:15px;}
.courht_text span{  font-family: "Arial"; font-size:15px; color:#ea0621;}
.courht_text1{ width:964px; float:left; padding-top:15px;}
.courht_text1 span{ padding-right:20px;}
.courht_text1select{ width:152px; height:20px; border:#d6d6d6 solid 1px; line-height:20px; font-size:12px; color:#666; background:#fff;}
.courht_text1select1{ width:112px; height:20px; border:#d6d6d6 solid 1px; line-height:20px; font-size:12px; color:#666; background:#fff;}
.courht_text2{ width:964px; float:left; margin-top:25px;}
.table{ width:962px; height:32px; background:url(../../../Images/images/pu3.jpg) repeat-x left top; border:#e4e4e4 solid 1px; float:left;}
.table1{ width:962px; border-left:#efefef solid 1px;border-right:#efefef solid 1px; float:left;}
.table1 table td{border-bottom:#efefef solid 1px;}
.courht_title3{ width:964px; float:left; height:32px; border-bottom:#298fd7 solid 2px; padding-top:10px;}
.courht_title3 span{ float:left; text-align:center; font-size:18px; color:#1a8bdb; font-family:"微软雅黑";  line-height:28px; height:32px; background:url(../../../Images/images/pu2.jpg) no-repeat left bottom;}
.courht_title4{ width:962px; float:left; border:#d9d9d9 solid 1px; border-top:none;}
.courht_title4 span{ padding-left:15px; padding-right:15px; padding-top:11px; float:left; line-height:26px; color:#666; font-size:12px; font-family:"宋体"; padding-bottom:11px;}
.tableborder{ border-bottom:#dfddde solid 1px; font-size:12px; font-weight:bold; color:#727272; }
.tablefont{  font-size:12px;  color:#606060; }
.tablefont1{  font-size:12px; font-weight:bold; color:#727272; }
.ys{ color:#0a7cd4; font-size:12px; font-family:"宋体"; font-weight:bold;}
.ys a{ color:#0a7cd4; font-size:12px; font-family:"宋体"; font-weight:bold; text-decoration:none;}
.ys a:hover{ color:#0a7cd4; font-size:12px; font-family:"宋体"; font-weight:bold; text-decoration:underline;}
.ys1{  font-size:12px;  color:#666; line-height:20px;  text-align:left;}
.ys1 span{  font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#666; padding-right:2px;}
.ys2{ color:#44a0e7; font-size:12px; font-family:"宋体";  line-height:20px;}
.ys2 a{ color:#44a0e7; font-size:12px; font-family:"宋体"; text-decoration:none;}
.ys2 a:hover{ color:#44a0e7; font-size:12px; font-family:"宋体"; text-decoration:underline;}
.phlist{  float:left; padding-bottom:18px; padding-top:18px; padding-left:20px;}
.phlist h2{ float:left; padding-right:14px;}
.phlist h2 img{ width:57px; height:57px;border:#e0e0e0 solid 1px;}
.phlist h3{ float:left; width:200px; padding-top:12px; line-height:18px; color:#666px;}
.phlist h3 span{color:#666px; font-weight:bold}







/*============================您可能感兴趣的商品===================================*/

.courht_title1{ width:964px; float:left; height:32px; border-bottom:#298fd7 solid 2px; margin-top:25px; position:relative;}
.courht_title1 span{ float:left; text-align:center; font-size:18px; font-family:"微软雅黑";  color:#0a7cd4; line-height:24px; height:32px; background:url(../../../Images/images/a14.jpg) no-repeat center bottom;}
.courht_title1 samp{ position:absolute; top:9px; right:13px; color:#666666;}
.courht_photo{ width:962px; float:left; border:#e0e0e0 solid 1px;}





/*============================产品栏目===================================*/

.photolist02{width:948px; float:left; overflow:hidden; padding-left:7px; padding-right:7px; padding-top:10px; padding-bottom:25px;}
.photolist02 li{width:237px; float:left; text-align:center; padding-top:15px; vertical-align:bottom;}
.photolist02 li img{width:215px; height:215px;}
.photolist02 li p{width:217px;  padding-top:10px; padding-left:10px; padding-right:10px; text-align:left; float:left; line-height:22px; height:44px; overflow:hidden; }
.photolist02 li p span{font-size:12px; font-family:"宋体"; color:#ff9600;}
.photolist02 li p a{ font-family:"宋体"; color:#666; text-decoration:none;}
.photolist02 li p a:hover{ font-family:"宋体"; color:#666; text-decoration:underline;}
.photolist02 li h1{width:217px; float:left; padding-left:10px; padding-top:3px; padding-right:10px; display:block; text-align:left;  line-height:22px; color:#e41215; font-size:18px;  font-family:"Arial";}
.photolist02 li h1 span{ line-height:22px; color:#999999; font-size:12px;  font-family:"宋体"; font-weight:normal; padding-left:10px;}
.photolist02 li h1 samp { line-height:14px; color:#999999; font-size:12px;  font-family:"宋体"; text-decoration:line-through; font-weight:normal; }
.photolist02 li h1 samp .font{  color:#999999; font-size:12px;  font-family:Arial, Helvetica, sans-serif; text-decoration:none;  font-weight:normal; margin:0px; padding:0px;}
.leftborder{ border-right:#efefef solid 1px;}
.photolist02 li h1 .font2{ color:#e41215; font-size:18px;  font-family:"Arial"; float:left;}

